<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:include="~{/templates/skeleton-algemeen :: page(#{admin.bedrijven.title} + ' | ' + #{admin.title}, 'bedrijven')}"
      th:lang="${#locale.language}">
<body>

<ol th:fragment="breadcrumb" class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page" th:text="#{admin.title}"></li>
    <li class="breadcrumb-item active" aria-current="page" th:text="#{admin.bedrijven.title}"></li>
</ol>

<div th:fragment="content">
    <table id="bedrijven-tabel" class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Woonplaats</th>
            <th>Postcode</th>
            <th>Inschrijf datum</th>
            <th>Uitschrijf datum</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div th:fragment="scripts">
    <script th:src="@{/assets/js/admin/bedrijven/index.js}"></script>
</div>

</body>
</html>
