<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="page(title, navigation)">
<head th:replace="~{/templates/skeleton :: head(${title})}"></head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="~{/templates/skeleton :: navigation(${navigation})}"></nav>

<main class="container mt-3">
    <nav aria-label="breadcrumb">
        <div th:replace="~{this :: breadcrumb}"></div>
    </nav>
    <div class="bg-light p-4">
        <div th:replace="~{this :: content}"></div>
    </div>
</main>

<footer th:replace="~{/templates/skeleton :: footer}"></footer>
<div th:replace="~{this :: scripts}"></div>
</body>
</html>
