<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:include="~{/templates/skeleton-algemeen :: page(#{admin.bedrijven.title} + ' | ' + #{admin.title}, 'bedrijven')}"
      th:lang="${#locale.language}">
<body>

<ol th:fragment="breadcrumb" class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page" th:text="#{admin.title}"></li>
    <li class="breadcrumb-item" aria-current="page" th:text="#{admin.computers.title}"></li>
    <li class="breadcrumb-item active" aria-current="page" th:text="${nr}"></li>
</ol>

<div th:fragment="content">
    <form class="needs-validation" novalidate>
        <input type="hidden" id="_csrf" th:value="${_csrf.token}" disabled readonly>
        <input type="hidden" id="_csrf_header" th:value="${_csrf.headerName}" disabled readonly>

        <h1>Details van Computer</h1>
        <hr/>
        <div class="row mt-1">
            <label class="col-4 col-form-label" for="persoonNr">Eigenaar:</label>
            <div class="col-8">
                <a id="persoonNr" href="./admin/personen/"></a>
            </div>
        </div>
        <div class="row mt-1">
            <label class="col-4 col-form-label" for="bedrijfNr">Gedoneerd door:</label>
            <div class="col-8">
                <a id="bedrijfNr" href="./admin/personen/"></a>
            </div>
        </div>

        <div class="row">
            <label class="col-4 col-form-label" for="nr">nummer:</label>
            <div class="col-8">
                <input class="form-control" id="nr" type="number" disabled readonly th:value="*{nr}">
            </div>
        </div>
        <div class="row mt-1">
            <label class="col-4 col-form-label" for="inboekDatum">Inboek datum:</label>
            <div class="col-8">
                <input class="form-control" id="inboekDatum" type="datetime-local" disabled readonly>
            </div>
        </div>
        <div class="row mt-1">
            <label class="col-4 col-form-label" for="type">Type:</label>
            <div class="col-8">
                <select id="type" class="form-select mb-1" disabled>
                    <option th:each="ctype : ${T(com.github.computerhuis.dhwco.model.ComputerType).values()}"
                            th:value="${ctype}" th:text="${ctype}"></option>
                </select>
            </div>
        </div>
        <div class="row mt-1">
            <label class="col-4 col-form-label" for="fabrikant">fabrikant:</label>
            <div class="col-8">
                <input class="form-control" id="fabrikant" disabled>
            </div>
        </div>
        <div class="row mt-1">
            <label class="col-4 col-form-label" for="model">model:</label>
            <div class="col-8">
                <input class="form-control" id="model" disabled>
            </div>
        </div>
        <div class="row mt-1">
            <label class="col-4 col-form-label" for="uitboekDatum">Uitboek datum:</label>
            <div class="col-8">
                <input class="form-control" id="uitboekDatum" type="datetime-local" disabled>
            </div>
        </div>
        <hr/>
        <div class="row mt-1">
            <label class="col-4 col-form-label" for="specificatie">Specificatie:</label>
            <div class="col-8">
                <textarea class="form-control" id="specificatie" disabled rows="6"></textarea>
            </div>
        </div>
        <div class="row mt-5 mb-3">
            <div class="col-6 text-center">
                <button type="reset" class="btn btn-outline-primary" disabled>Reset</button>
            </div>
            <div class="col-6 text-center">
                <button type="submit" class="btn btn-primary" disabled>
                    <div id="submit_spinner" class="spinner-border spinner-border-sm" role="status">
                        <span class="visually-hidden">Laden...</span>
                    </div>
                    Opslaan
                </button>
            </div>
        </div>

    </form>
</div>

<div th:fragment="scripts">
    <script th:src="@{/assets/js/stdlib.js}"></script>
    <script th:src="@{/assets/js/admin/computers/computer.js}"></script>

</div>

</body>
</html>
